<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.streamsdk.chat"
    android:versionCode="7"
    android:versionName="1.0.6" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.streamsdk.chat.SplashActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".MainActivity"
                   android:configChanges="orientation|keyboardHidden|screenSize" 
                   android:screenOrientation="portrait">
         </activity>
         <activity android:name=".FullScreenImageActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name=".VideoFullScreen" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name=".AndroidVideoCapture" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name=".MyFriendsActivity" android:screenOrientation="portrait"></activity>
         <activity android:name=".LoginActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name=".SignupActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name=".AndroidPhotoCapture" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name="com.streamsdk.chat.FirstPageActivity" android:label="@string/app_name"  android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"></activity>
         <activity android:name="com.streamsdk.chat.addfriend.AddFriendMainActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name="com.streamsdk.chat.settings.PreferenceScreen" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name="com.streamsdk.chat.settings.ChatBackgroundGrid" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name="com.streamsdk.chat.settings.WebViewActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name="com.streamsdk.chat.settings.StatusSettingActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name="com.streamsdk.chat.MapViewActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name="com.streamsdk.chat.SendMapViewActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name="com.streamsdk.search.SearchImageActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <activity android:name="com.streamsdk.chat.settings.UserDetailsViewActivity" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
         <meta-data    android:name="com.google.android.gms.version"    android:value="@integer/google_play_services_version" />
         <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAbXZNZ8XngAFgxjIUwClJBPVAYJhtiEOU"/>
         <service android:name="com.streamsdk.xmpp.XMPPConnectionService"/>
         <receiver android:name=".BootCompletedReceiver" >
             <intent-filter>
               <action android:name="android.intent.action.BOOT_COMPLETED" />
             </intent-filter>
         </receiver>
    </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!-- The following two permissions are not required to use     Google Maps Android API v2, but are recommended. -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  
</manifest>
